.header {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 80px;
  background-color: #001828;
  color: #cbdee9;
  width: 100vw;
  margin: 0px;
  box-shadow: 0px 0px 3px 3px black;
  top: 0px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  transition: 0.4s;
  font-family: 'BladeRunner';
}

.title:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 200px;
  margin-left: 10px;
}

.event-name {
  margin-left: 20px;
}

.event-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hamburger-button {
  font-size: 30px;
  width: 30px;
  transition: 0.4s;
}

.hamburger-button:hover {
  font-size: 35px;
  cursor: pointer;
}


.logout-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  transition: 0.3s;
}

.logout:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.logout-text {
  font-size: max(16px, 2vh);
  color: #98bdd3;
  transition: 0.3s;
  margin-right: 10px;
}

.login:hover {
  text-decoration: underline;
  color: #4dacff;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}


.svg {
  width: max(20px, 2vh);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-right: 10px;
}