.risk-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.risk-matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.y-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  padding: 0px;
}

.y-label {
  height: calc(78vh - calc(12vh + 6vh));
  margin-bottom: calc(12vh + 6vh);
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  font-size: 4vh;
  text-align: center;
}

.x-label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-label {
  font-size: 4vh;
  text-align: center;
  width: calc(100% - 12vh);
  margin-left: 12vh;
}

@media (max-width: 768px) {
  .x-label {
    font-size: 24px;
  }
  .y-label {
    font-size: 24px;
  }
}