.event-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event-title {
  color: #4dacff;
}

.event {
  margin: 30px;
  width: 50%;
  min-width: 320px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.entry {
  height: 50px;
}

.info-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  width: 150px;
  color: #92cbff;
}

.info-values {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 20px;
  color: #cbdee9;
  width: 90%;
}

.desc {
  justify-content: flex-start;
}

.desc-val {
  justify-content: flex-start;
  padding-top: 5px;
}
