.set-date {
  background-color: #182637;
  border: 3px solid #98bdd3;
  border-radius: 5px;
  color: #cbdee9;
  padding: 10px;
}

.set-date:focus {
  outline: none;
  border: 3px solid #4dacff;
}

.set-title {
  background-color: #182637;
  border: 3px solid #98bdd3;
  border-radius: 5px;
  color: #cbdee9;
  padding: 10px;
  font-size: 28px;
}

.set-title:focus {
  outline: none;
  border: 3px solid #4dacff;
}

.set-text {
  background-color: #182637;
  border: 3px solid #98bdd3;
  border-radius: 5px;
  color: #cbdee9;
  padding: 10px;
  width: 100%;
  height: 300px;
}

.set-text:focus {
  outline: none;
  border: 3px solid #4dacff;
}

.submit {
  margin-top: 30px;
  margin-left: 170px;
}

.rule {
  margin-top: 60px;
  border: none;
  background-color: #98bdd3;
  height: 1px;
}

.danger-zone {
  margin-top: 60px;
}

.delete {
  border: 2px solid #ff3838;
  background-color: #ff3838;
  color: white;
}

.delete:hover {
  border: 2px solid white;
  background-color: #ff3838;
  color: white;
}