.teams {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.button-container {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.newTabContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: fixed;
  align-items: center;
  display: flex;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.newTabContainer .newTabBlock {
  position: relative;
  flex-direction: column ;
  justify-content: center;
  background-color: rgb(113, 89, 45);
  border-radius: 7px;
  height: 400px;
  width: 700px;
}


.newTabBlock button {
  position: absolute;
  right:    0;
  bottom:   0;
}

.addParticipantButton{
  display: flex;
  justify-content: right;
  margin-block: 10px;
}

.formContainer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #001828;
  width: 500px;
  height: 475px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.formContainer h2{
  margin-bottom: 0px;
}

.form{
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form p {
  display: inline-block;
  width: 69%;
  text-align: left;
}

.formHeader {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 position: relative;
}

.inputs {
  margin-bottom: 15px;
 }

.inputs input {
  width: 375px;
  /* height: 25px; */
  border-radius: 5px;
  transition: 0.14s;
  outline: none;
 }

.inputs input:focus {
  outline: none ! important;
  border: 3px solid #4dacff;
  /* box-shadow: 0 0 10px; */
}

.add-team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
}

.add-team-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.add-team-label {
  margin-block: 10px;
}

.add-team-label {
  margin-block: 10px;
}

.submit-new-team {
  margin-block: 10px;
}

.permission-title {
  display: inline-block;
  width: 69%;
  text-align: left;
}
.form div select {
  width: 380px;
  height: 25px;
  border-radius: 5px;
  transition: 0.14s;
  outline: none;
 }

/* .form div select:focus {
  outline: none ! important;
  border:5px solid #4dacff;
  box-shadow: 0 0 10px;
 } */

.buttons{
  display: flex;
  justify-content: center;

}
.buttons input{
  border-radius: 5px;
  background-color: #4dacff;
  border-color: #4dacff;
}
.buttons button{
  border-radius: 5px;
  background-color: #4dacff;
  border-color: #4dacff;
}

.edit {
  width: 25px;
  margin: 10px;
  transition: 0.3s;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.edit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.trash {
  transition: 0.3s;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.trash:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.close {
  transition: 0.3s;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
.close:hover {
  transform: scale(1.1);
  cursor: pointer;
}


rux-table {
  --table-row-background-color: #2d4763;
  --table-header-background-color: #001828;
}

.add-team-button {
  width: 50%;
  margin: 10px;
  background-color: #001828;
  color: white;
  border: 2px solid #001828;
  border-radius: 5px;
  font-size: 32px;
}

.edit-team {
  width: 10px;
  position: relative;
  top: -10px;
  left: 10px;
  transition: 0.4s;
}